* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Schoolbell';
  margin: 0;
}

header {
  background-color: #E76F51;
  color: #264653;
  font-family: 'Schoolbell';
}

main {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 25% 25% 25% 25%;
}

.wardrobe {
  border: solid 2px red;
  grid-column: 1;
}

.hats {
  border: solid 2px green;
}

.clothes {
  border: solid 2px pink;
}

.accessories {
  border: solid 2px blue;
}

.backgrounds {
  border: solid 2px orange;
}

.bear {
  border: solid 2px yellow;
  grid-column: 2;
}

.saved-outfits {
  border: solid 2px black;
  grid-column: 3;
}
